*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: aliceblue;
}
h1{
    text-align: center;
    font-size: 2.9em;
    margin: 15px 0;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1065px;
    margin: auto;
    gap: 30px;
}
.login, #home{
    margin: 30px;
    width: 60px;
}
.login button {
    width: 100%;
    height: 100%;
    background-color: rgb(124, 128, 166);
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}
.entrada{
    text-align: center;
    width: 330px;
    height: 120px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(126, 116, 133);
    cursor: pointer;
    text-decoration: none;
}

/*POST pagina*/
.descripcionPost{
    width: 600px;
    padding: 40px;
    font-size: 1.7em;
    background-color: rgb(187, 181, 193);
    border-radius: 25px;
}

.post{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 650px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgb(126, 116, 133);
}
.post p{
    font-size: 1.3em;
    font-style: italic;
    margin: 10px;
    width: 120px;
    background-color: #000;
    text-align: center;
    color: rgb(235, 220, 192);
}
.post input[type='text']{
    width:500px;
    padding: 10px;
    margin: 10px;
}
.post input[type='submit'], button{
    padding: 10px;
    cursor: pointer;
    background-color: #5c5757;
    color: white;
    border-radius: 25px;
}
.comentario{
    width:600px;
    padding: 20px;
    background-color: #aba7a7;
    border: 1px solid gainsboro;
    font-size: 1.4em;
    margin: 10px 0px;
    border-radius: 25px;
}
.comentario :not(span){
    font-style: italic;
}
.comentario span{
    color: #d2cece;
}


/*LOGIN page*/
#form{
    background-color: #607386;
    border-radius: 20px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:150px auto;
}
#form form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}
#form form :not(input[type="submit"]){
    width: 350px;
    height: 40px;
    padding: 10px;
    border-radius: 7px;
}
#form form input[type="submit"]{
    padding: 10px;
    width: 20%;
    align-self: center;
    cursor: pointer;
    border-radius: 7px;
}